/* Global Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #4891ff;
    --light-color: #f4f4f6;
    --dark-color: #111;
}

body {
    font-family: 'Open Sans', sans-serif; /* Default font for the page */
    font-size: 16px;
    line-height: 1.5;
    background: #fff;
    flex-grow: 1;
}

a {
    text-decoration: none;
    color: #ffffff;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Reader Page Section */
.prevPage {
    position: relative; /* Ensures proper stacking above the hero section */
    padding-top: 150px;
    padding-left: 8vw;
    background: transparent; /* Transparent to show the global background */

 .container {
    display: flex; /* Flexbox layout */
    flex-direction: column; /* Stack breadcrumb and button vertically */
    align-items: flex-start; /* Align to the left */
    gap: 1vw; /* Space between breadcrumb and button */
}

/* Style for the paragraph inside .prevPage */
p {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;
    background-color: transparent;
    width: 80%;
}
}

/* Hero */
.hero {
    position: relative;
    padding-top: 2vw; /* Accounts for navbar height */


.container {
    display: flex; /* Enable flexbox for horizontal alignment */
    align-items: center; /* Align content vertically in the center */
    margin-right: 8vw;
    margin-left: 8vw;
    height: auto; /* Allow height to adjust dynamically */
    gap: 3vw; /* Space between text and image */
    
}

/* Text Styling */
h1 {
    font-size: 44px;
    margin-bottom: 0.2em;
}

h2 {
    font-size: 26px;
    margin-bottom: 0.6em;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    margin-bottom: 1em;
    font-weight: 500;
    width: 100%;    
    
}


/* Image Styling */
.hero-image {
    width: 35%;
    height: auto;
    object-fit: contain;
}


}

/* Next Page Section */
.nextPage {
    margin-top: 60px;
    display: flex;
    justify-content: flex-end;
    margin-right: 11vw;

/* Main link container */
.container {
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.container:hover {
    transform: scale(1.1); 
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    text-align: left;
    margin-right: 1em;
    text-decoration: underline;
    text-underline-offset: 4px;
    color: #D7D7D7;
}
}

/* Background */
.bg-primary {
    
    background-image: url('../assets/projects_Background.png'); /* Path to your image */
    background-position: center;
    background-size: cover; /* Ensures image covers the full background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    color: #fff;
    height: auto;
    width:auto;
    min-height: 100vh;
}
  