/* Global Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #4891ff;
    --light-color: #f4f4f6;
    --dark-color: #111;
}

body {
    font-family: 'Open Sans', sans-serif; /* Default font for the page */
    font-size: 16px;
    line-height: 1.5;
    background: #fff;
    overflow-x: hidden; /* Prevent horizontal overflow */
}

a {
    text-decoration: none;
    color: #ffffff;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}
.hero {
    background: linear-gradient(45deg, #000000aa, #00000000), url("../assets/home_Background1.webp");
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    padding-top: 200px;
    padding-bottom: 150px;
    padding-right: 7vw;
    padding-left: 7vw;
    display: flex;


 .container {
    margin-left: 0px;
    width: 65%;
    min-width: 600px;
}

h2 {
    font-size: 44px;
    margin-bottom: .1em;


}

p {
    margin-bottom: 1em;
    font-size: 22px;
}

.hero div {
    display: flex;
    gap: 20px;
}
}

.hero .hero-buttons {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
}




.mission {
    background: linear-gradient(45deg, #000000aa, #00000000), url("../assets/home_Background2.webp");
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    padding: 6vw 7vw;
    
    .container {
        margin-right: auto;
        margin-left: 0px;
        width: 40%;
        min-width: 600px;
    }

    h2 {
        font-size: 44px;
    }

    p {
        margin-bottom: 1em;
        font-size: 22px;
    }
}


.projects {
background-color: black;
   


.container {
    padding-top: 2vw;
    margin-left: 7vw;
    margin-right: 7vw;
    display: flex;
    flex-direction: column;
  }

  h2 {
    font-size: 44px;
    color: #ffffff;
}


h3 {
    font-size: 3em;
    color: #ffffff;
    display: flex;
    position: absolute; /* Position relative to the parent container */
    top: 37%; /* Adjust the vertical alignment */
    left: 4%; /* Align it to the right of the base image */
    z-index: 2; /* Place it above the base and overlay images */
    transform: translateY(-90%); /* Adjust for precise vertical centering */
}

h4 {
    font-size: 3em;
    display: flex;
    position: absolute; /* Position relative to the parent container */
    top: 30%; /* Adjust the vertical alignment */
    left: 4%; /* Align it to the right of the base image */
    color: #ffffff; /* White text color */
    z-index: 2; /* Place it above the base and overlay images */
    text-align: left; /* Right-align text */
    transform: translateY(-50%); /* Adjust for precise vertical centering */
}

}

.projects-content {
    display: flex; /* Enables Flexbox */
    justify-content: space-between; /* Aligns heading to the left and buttons to the right */
    align-items: center; /* Ensures vertical alignment */

}


.projects-buttons {
    display: flex; /* Enable Flexbox for buttons */
    gap: 1vw; /* Space between buttons */
    padding-bottom: 2vw;
    z-index: 100;
}


.projects .projects-overlay-image {
    position: absolute; /* Stacks it on top of the base image */
    top: 3%; /* Adjust the vertical position */
    right: 1%; /* Adjust the horizontal position */
    width: 34%; /* Set the width of the overlay image */
    height: auto; /* Maintain aspect ratio */
    z-index: 2; /* Higher stacking order */
    opacity: 0.8; /* Optional: Add transparency for better visuals */
    pointer-events: none; /* Ensures the overlay image doesn't interfere with user interactions */
    border-radius: 10px; /* Optional: Add rounded corners */
}

.projects .projects-overlay-image2 {
    position: absolute; /* Stacks it on top of the base image */
    top: 8%; /* Adjust the vertical position */
    right: 2%; /* Adjust the horizontal position */
    width: 35%; /* Set the width of the overlay image */
    height: auto; /* Maintain aspect ratio */
    z-index: 2; /* Higher stacking order */
    opacity: 0.8; /* Optional: Add transparency for better visuals */
    pointer-events: none; /* Ensures the overlay image doesn't interfere with user interactions */
    border-radius: 10px; /* Optional: Add rounded corners */
}




.projects .projects-sub-text {
    padding-top: 3vw;
    position: absolute; /* Position relative to the parent container */
    top: 59%; /* Adjust the vertical alignment */
    left: 4%; /* Align it to the right of the base image */

    color: #ffffff; /* White text color */
    z-index: 3; /* Place it above the base and overlay images */
    text-align: left; /* Align text to the left */
    transform: translateY(-50%); /* Adjust for precise vertical centering */

    font-size: 1.8vw; /* Increased font size for sub-text */
    font-weight: 400; /* Lighter weight for sub-text */
    line-height: 1.5; /* Adjusted line height for better readability */

}

.projects .projects-sub-text2 {
    padding-top: 3vw;
    position: absolute; /* Position relative to the parent container */
    top: 62%; /* Adjust the vertical alignment */
    left: 4%; /* Align it to the right of the base image */

    color: #ffffff; /* White text color */
    z-index: 3; /* Place it above the base and overlay images */
    text-align: left; /* Align text to the left */
    transform: translateY(-50%); /* Adjust for precise vertical centering */

    font-size: 1.7vw; /* Increased font size for sub-text */
    font-weight: 400; /* Lighter weight for sub-text */
    line-height: 1.5em; /* Adjusted line height for better readability */

}


.projects .projects-buttons {
    margin-top: 2.2vw; /* Additional spacing to move the buttons down */
}



.journal {
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    padding: 6vw 7vw;
    display: flex;
    flex-direction: column;
    align-items: left;
    

 .container {
    min-width: 600px;
    text-align: left;
}

.content {
    display: flex; /* Use Flexbox for horizontal alignment */
    justify-content: space-between; /* Push children to opposite sides */
    align-items: center; /* Align items vertically */
}

h2 {
    font-size: 44px;
    margin-bottom: 0.1em;
}

p3 {
    font-size: 14px;

}

p2 {
    font-size: 18px;
    width:70%;
    min-width: 500px;


}

.journal-button {
    display: flex; /* Use Flexbox for horizontal alignment */
    justify-content: space-between; /* Push children to opposite sides */
    align-items: center; /* Align items vertically */
    padding-bottom: 2vw;
}

.journal-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 20px; 
    margin-top: 1em;
    width: 100%;
    
}
.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;

}
}




/* Skills Section */
.skills {
    padding-top: 1vw;
    color: white;

    .container {
        margin-left: 7vw;
        margin-right: 7vw;
        display: flex;
        flex-direction: column;
    }

    h2 {
        font-family: 'Open Sans', sans-serif; 
        font-size: 44px; 
        font-weight: 700; 
        line-height: 81px; 
        letter-spacing: -0.02em; 
        margin-bottom: 2vw;
    }

    .card {
        width: 100%;
        background: radial-gradient(#000000aa, #00000000),url("../assets/home_SkillsBase.png");
        background-size: cover;
        background-attachment: fixed;
        text-align: center;
        padding: 40px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;

        * {
            margin: auto;
        }

        h3 {
            font-family: 'Open Sans', sans-serif; 
            font-size: 40px; 
            font-weight: 700; 
            margin-bottom: .1em;
        }
    
        p {
            font-size: 30px;
            font-family: 'Lato', sans-serif; 
            margin-bottom: 1em;
        }
    }
}



/* Background Class for Footer */
.bg-footer { 
    background-image: url('../assets/footer1.png'); /* Path to your footer background image */
    background-position: center; /* Center the image */
    background-size: cover; /* Ensures the image covers the full background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    color: #fff; /* White text color for contrast */
    height: 100%; /* Allow the background to grow with the content */
    width: 100%; /* Ensure the background spans the full width */
}



.slideshow-container {
    position: relative; /* Establish a positioning context for children */
    display: flex;
    flex-direction: column; /* Stack slides and indicators vertically */
    max-width: 100%;
    overflow: hidden;
}

.slide {
    display: none; /* Hide slides by default */
    position: relative;
    height: auto;
}

.slide.active {
    display: block; /* Show the active slide */
}

.slide img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensures image scales properly */
    border-radius: 15px;
}



/* Indicators */
.indicators {
    position: absolute; /* Position within the slideshow container */
    bottom: 3vw; /* Move to the bottom of the slideshow */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center alignment adjustment */
    display: flex;
    justify-content: center;
    gap: 10px;
    z-index: 10; /* Ensure it stays above the slides */
    width: auto;
}

.indicator {
    width: 8vw;
    height: 4px;
    background-color: #9a9a9a;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.indicator.active {
    background-color: #ffffff; /* Highlight the active slide */
}

button:hover {
    background-color: transparent;
}



@media (max-width: 1000px) {

    .projects .projects-heading {
        font-size: 4.6vw;
        line-height: 2.7rem;
    }

    .projects .projects-dna-text {
        font-size: 3.5vw;
        line-height: 2.7rem;
    }

    .projects .projects-dna-text2 {
        font-size: 3vw;
        line-height: 2.7rem;
        
    }

    .projects .projects-dna-text2 {
        font-size: 3vw;
        line-height: 2.5rem;

        display: flex;
    position: absolute; /* Position relative to the parent container */
    top: 39%; /* Adjust the vertical alignment */
    left: 4%; /* Align it to the right of the base image */

    color: #ffffff; /* White text color */
    z-index: 3; /* Place it above the base and overlay images */
    text-align: left; /* Right-align text */
    transform: translateY(-90%); /* Adjust for precise vertical centering */

        
    }   

    .projects {
        h4 {
            font-size: 30px;
        }

        h3 {
            font-size: 30px;
        }
    }


}


@media (max-width: 750px) {
    .journal .journal-grid {
        grid-template-columns: 1fr 1fr; /* Two items per row */
    }

    .journal-grid .card:nth-child(3) {
        display: none; /* Hide the third card */
    }


    .projects .projects-heading {
        font-size: 3.6vw;
        line-height: 2rem;
    }

    .projects .projects-dna-text {
        font-size: 3.4vw;
        line-height: 2rem;
        top: 33%; /* Adjust the vertical alignment */
    }

    .projects .projects-dna-text2 {
        font-size: 3vw;
        line-height: 2rem;
        
    }

    .projects .projects-sub-text {
        font-size: 1.9vw;        
    }

    .projects .projects-dna-text2 {
        font-size: 3vw;
        line-height: 1.9rem;
        
    }
}


@media (max-width: 610px) {
    .projects .projects-heading {
        font-size: 3.6vw;
        line-height: 1.6rem;
    }

    .projects .projects-dna-text {
        font-size: 3.5vw;
        line-height: 1.6rem;
        top: 33%; /* Adjust the vertical alignment */
    }

    .projects .projects-dna-text2 {
        font-size: 3.2vw;
        line-height: 1.6rem;
        
    }

    .projects .projects-sub-text {
        font-size: 1.9vw;
        top: 58%; /* Adjust the vertical alignment */
        
    }

}

