/* Global Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #4891ff;
    --light-color: #f4f4f6;
    --dark-color: #111;
}

body {
    font-family: 'Open Sans', sans-serif; /* Default font for the page */
    font-size: 16px;
    line-height: 1.5;
    background: #fff;
    overflow-x: hidden; /* Prevent horizontal overflow */

}

a {
    text-decoration: none;
    color: #ffffff;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.hero {
    color: #ffffff;
    padding-top: 200px;
    padding-bottom: 150px;
    padding-right: 7vw;
    padding-left: 7vw;
    display: flex;


.container {
    margin-left: 0px;
    width: 65%;
    min-width: 600px;
}

h2 {
    font-size: 44px;
    margin-bottom: .1em;
}

p {
    font-size: 22px;
    margin-bottom: 1em;
}

.hero-buttons {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
}

}
.flex-gap {
    display: flex; 
    gap: 30px; 
    justify-content: flex-end; 
    align-items: center; 
}



.diffusion {
    padding-top: 8vw; 
    padding-right: 7vw;
    padding-left: 7vw;

.container {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    gap: 5vw;
    text-align: right;

}

img {
    width: 40%; 
    max-width: 500px;
    height: auto;
}


h2 {
    font-size: 44px;
    margin-bottom: .1em;
}

p {
    font-size: 22px;
    margin-bottom: 1em;
}

.diffusion-buttons {
    display: flex;
    gap: 15px;
    justify-content: flex-end; 
}
}

.dataset {
    padding-top: 8vw; 
    padding-right: 7vw;
    padding-left: 7vw;

.container {
    display: flex;
    align-items: center; /* Align image & text vertically */
    justify-content: space-between; /* Push elements apart */
    gap: 5vw;
}

img {
    width: 40%; /* Image takes 50% of space */
    max-width: 500px;
    height: auto;
}


h2 {
    font-size: 44px;
    margin-bottom: .1em;
}

p {
    font-size: 22px;
    margin-bottom: 1em;
}

.dataset-buttons {
    display: flex;
    gap: 15px;
    justify-content: flex-start; 
}
}

.bg-primary {
    background-image: url('../assets/projects_Background.webp'); 
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat; 
    color: #fff;
    min-height: auto;
    width: 100%;

}


